.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-wrap{
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    max-width: 250px;

}
.login-wrap>h2{
    margin-bottom: 10px;
}
.login-Form{
    display: flex;
    flex-direction: column;
}
.login-Form>input{
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(209, 209, 209);
   border-radius: 5px;

}
.login-Form>input:focus{
    outline: none;
}
.agreement{
    /* border: 1px solid black; */
    font-size: 15px;
    font-weight: 600;
    margin: 7px 0;
    padding: 0 5px;
}
.login-Form>button{
   padding: 7px;
   font-size: larger;
   margin-top: 5px;
   border:1px solid #fc7fb1;
   background-color: #ffadc5;
   border-radius: 5px;

}